body{
  background-color:beige;
}
h1{
  color:maroon;
  font-family:cursive;
}
button{
  color: indigo;
  background-color:aqua;
  border-radius: 30px;
  border: none;
  border-style: groove;
  font-family:fantasy;
}
li{
  color: midnightblue;
  font-family: sans-serif;
}